<div class="bank-wrapper">
  <header class="navbar">
    <div class="nav-container">
      <div class="brand">
        <div class="logo-text">
          <span class="main">{{"a"}} PORTAL</span>
          <span class="sub">Compliance Administration</span>
        </div>
      </div>

      <nav class="nav-links">
        <a routerLink="/bank/dashboard" routerLinkActive="active">Alert Dashboard</a>
        <a routerLink="/bank/ingestion" routerLinkActive="active">Batch Upload</a>
        <a routerLink="/bank/users" routerLinkActive="active">User Management</a>
        <a routerLink="/bank/cases" routerLinkActive="active">Case Tracking</a>
        <a routerLink="/bank/reports" routerLinkActive="active">Reports</a>
      </nav>

      <div class="user-actions">
         <div class="user-info">
          <span class="role">Bank Admin Session</span>
          <span class="status-dot"></span>
        </div>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>

  <main class="page-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div> 
