<div class="card">
  <h2>Register New Bank</h2>
  <p class="sub">Enter the tenant details to onboard a new institution.</p>

  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <div class="group">
      <label>Tenant / Bank Name</label>
      <input formControlName="tenantName" placeholder="e.g. Global Bank">
    </div>

    <div class="group">
      <label>Admin Email</label>
      <input type="email" formControlName="email" placeholder="admin@bank.com">
    </div>

    <button type="submit" class="submit-btn" [disabled]="regForm.invalid">Create Tenant</button>
  </form>
</div>